*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../img/fundo-topo.jpg');
    margin: 0;
}
.logo{
    width: 200px;
    padding: 1rem;
}
nav{
    background-color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
}
nav ul{
    display: flex;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    margin: 0;
}
nav a{
    color: black;
    text-decoration: none;
    display: flex;
    gap: 7px;    
}
.flex-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
}
.text-box{
    width: 45%;
}
.text-box h1{
    font-size: 2rem;
}
.text-box p{
    text-align: justify;
    font-size: calc(1rem + 2px);
}
.text-header{
    text-align: center;
}
.green{
    background-color: rgb(189, 255, 156)
}
.produtosSection{
    flex-direction: column;
}
.produtosContainer{
    display: flex;
    justify-content: center;
    gap: 8vw;
    padding: 2rem;
}
.produto{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.produtoImgBox{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-color: lightgray;
    border-radius: 5px;
    width: 12rem;
    height: 10rem;
    
}
.produtoText h1 ,p{
    margin: 0.5rem;
}
.produtoButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    border: 1px solid rgb(131, 187, 102);
    border-radius: 7px;
    background-color: rgb(189, 255, 156);
}
.servicosImg{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.servicosImg img{
    padding: 0.2rem;
    border-radius: 5px;
}
.formContato{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
    margin-top: 100px;
    width: 100%;
}
form{
    font-weight: bold;
    padding: 20px;
    width: fit-content;
}
input, textarea{
    width: 400px;
    padding: 8px 10px;
    border: 1px solid rgb(131, 187, 102);
    margin-top: 5px;
}
textarea{
    margin-bottom: 10px;
}
input, label{
    display: block;
}
.formButton{
    width: 30%;
    margin: auto;
}
.flexContato{
    flex-direction: column;
}
footer{
    text-align: center;
    margin: 30px;
}
footer p{
    margin-top: 50px;
}
footer hr{
    border-color: rgb(189, 255, 156);
}
@media (max-width: 1120px){
    .formContato{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 768px){
    .flex-box{
        flex-direction: column;
        padding: 3rem;
    }    
    .text-box{
        width: 100%;
        padding-bottom: 1rem;
    }
    .dogImg img{
        width: 100%;
    }
    .produtosContainer{
        flex-direction: column;
    }
    iframe{
        width: 80vw;
    }
    label, input, textarea{
        width: 80vw;
    }
    nav ul{
        flex-direction: column;
        align-items: center;
    }
    span{
        width: 70vw;
        border: 1px solid;
        border-color: rgba(0, 0, 0, .1);
        border-radius: 2px;
    }
}
